extends ../layouts/layout.pug

block append styles
  link(rel='stylesheet', href='/css/post.css')

block blog-main-content
  .blog-main-header
    h4 POST
  .blog-post
    .blog-post-content
      .post-content !{postContent}

  nav
    ul
      li
        if nextPostId
          a(href='/ske48_kenkyuusei_blogs/'+postList.writer+'/'+nextPostId)
            span(aria-label='BLACK LEFT-POINTING POINTER') &#9668
            |  Next Post
      li
        a(href='/ske48_kenkyuusei_blogs') Back to HOME
      li
        a(href='/ske48_kenkyuusei_blogs/'+postList.writer) Back to #{postList.name}
      li
        if previousPostId
          a(href='/ske48_kenkyuusei_blogs/'+postList.writer+'/'+previousPostId)
            | Previous Post
            span(aria-label='BLACK RIGHT-POINTING POINTER') &#9658
