extends ../layouts/layout.pug

block append styles
  link(rel='stylesheet', href='/css/post.css')

block blog-main-content
  .blog-main-header
    h4 POST
  .blog-post
    .blog-post-content
      .post-content !{postContent}

  nav
    ul
      li
        a(href='#')
          span(aria-label='BLACK LEFT-POINTING POINTER') ◄
          |  Previous Blog
      li
        a(href='/ske48_kenkyuusei_blogs') Back to HOME
      li
        a(href='/ske48_kenkyuusei_blogs/'+postList.writer) Back to #{postList.name}
      li
        a(href='#')
          | Next Blog
          span(aria-label='BLACK RIGHT-POINTING POINTER') ►
