.row.header
  .hidden-xs.col-sm-3.blog-logo
    .blog-logo-img
      img(src='http://stage48.net/wiki/images/6/6a/SKELogo.png', alt='the SKE48 logo')
  .col-sm-9.blog-header
    h1.blog-title
      a(href='/ske48_kenkyuusei_blogs') SKE48 Kenkyuusei Blogs
    p.lead.blog-description
      | All blogs collected form 
      a(href='http://www.ske48.co.jp/') the official website
